/* Light theme colors */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --task-text-color: #000000;
	--button-background: #C5D3E8;
	--button-hover: #A6AEBF;
	--add-button: #758694;
	--modal-background: #B7B7B7;

	--task-high: #91C483;
	--task-medium: #F3C623;
	--task-low: #FF8000;

  }
/* Dark theme colors */
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #D7DADC;
    --task-text-color: #000000;
    --button-background: #202124;
    --button-hover: #424446;
    --add-button: #1E1E1E;
    --modal-background: #353535;

    --task-high: #20e361;
    --task-medium: #ffe600;
    --task-low: #e86541;
  }

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

/* Task styles */
.task-high, .task-medium, .task-low {
    color: var(--task-text-color);
    border: none;
    border-radius: 4px;
    padding:4px 4px;
    width: 100%;
}

.task-high {
    background-color: var(--task-high)
}

.task-medium {
    background-color: var(--task-medium)
}

.task-low {
    background-color: var(--task-low)
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    padding:4px 4px;
}

button:hover {
  background-color: var(--button-hover);
}

.task-high, .task-medium, .task-low {
    margin-bottom: 10px; /* Gap between tasks */
}

/* Task done styles */
.task-done {
    background-color: var(--button-hover);
    text-decoration: line-through;
  }

.add-button {
    background-color: var(--add-button);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 40px;

    /* Make it stay in the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

input, select {
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    width: 90%;
    height: 15%;
    margin-bottom: 5px;
    font-size: large;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: var(--modal-background);
    margin: 2% auto; /* 2% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    border-radius: 10px;
}
  
/* The Close Button */
.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit-button {
    width: 90%;
}
